<div id="session_bar">

<% if logged_in? %>
	<h2><%= current_user.name%></h2> 
<% else %>
	<h2><%= link_to "Sign In", new_session_path %></h2>
<% end %>

<% if logged_in? %>
	<table>
	<tbdoy>
	  <tr>
	    <td><%= link_to "your listings",user_listings_path(current_user)%></td>
	  </tr>
	  <tr>
			<td>
				<%= link_to "sign out", { :controller 	=> 'sessions', 
															 		:action 			=> 'destroy'}, 
																	:method 			=> :delete    %>	
			</td>
	  </tr>

	</tbody>
	</table>
<% else %>
	<p>
		Before you can buy, trade or sell, you'll need to <%= link_to "sign up", new_user_path %>!
	</p>
<% end %>

</div><!--end session_bar-->