<div id="center">
	<h2>Sign in</h2>

	<% form_for :session, :url => session_path, :html => { :class => 'user_form' } do |form| %>
		<fieldset>
			<p>
				<%= form.label :email %>
		    <%= form.text_field :email %>  
			</p>
			
			<p>
				<%= form.label :password %>
		    <%= form.password_field :password %>
			</p>
			<p>
		    <%= form.label :remember_me %>
		    <%= form.check_box :remember_me %>				
			</p>

			<div class='buttons'>
			    <%= image_submit_tag  'icons/login_button.png'  %>				
			    <%= link_to "Forgot password?", new_password_path %>
			    <%= link_to "Sign up", new_user_path %>

			</div><!--end -->
		</fieldset>
	<% end %>

</div><!--end center-->
