<table id='show_book_listings_table' class='tablesorter'>
<thead>
  <tr>
	  <th>Status</th>
		<th>Price</th>
	  <th>Listing Date</th>  
	  <th>Email</th>
	  <th>Comments</th>
  </tr>
</thead>
<tbdoy>
	<% book.listings.each do |listing|%>
  <tr>
    <td><%= get_market_status( listing )%></td>  
		<td><%= "$" + listing.price.to_s %></td>  
    <td><%= listing.created_at.to_s %></td>  
		<% if logged_in? %>
		<td><%= listing.user.email %></td>
		<% else %>
		<td><%= link_to "#{scribble listing.user.email}", new_session_path %></td>
		<% end %>
    <td><%= listing.comment %></td>
  </tr>
<% end %>
</tbody>
</table>	
