<table class='data'>
<thead>
  <tr>
		<th>update</th>
		<th>Book</th>
	  <th>Status</th>
		<th>Price</th>
	  <th>Listing Date</th>  
  </tr>
</thead>
<tbdoy>
	<% listings.each do |listing| %>
  <tr>
    <td><%= link_to "update",edit_user_listing_url(listing.user.id,listing.id) %></td>  
		<td><%= shorten listing.book.title %></td>
		<td><%= get_market_status( listing ) %></td>
		<td><%= dollar_sign listing.price.to_s %>
    <td><%= listing.created_at.to_s %></td>
  </tr>
	<% end %>			
</tbody>
</table>