<div id="center">
	<h1> Update listing for "<%= @listing.book.title %>"</h1>
	<% form_for [@user,@listing] do |f|%>

	<fieldset>

		<%= f.label :market_status , "Indicate the status of your listing"%>
		<%= f.select :market_status, ['available','pending','sold'], :include_blank => true  %>
		
		<%= render :partial => 'listings/form', :locals => { :f => f } %>
		

		<%= f.submit 'update'%> or <%= link_to "back to listings" , user_listings_url( @listing	)  %>
	</fieldset>
	<% end %>

</div><!--end center-->