<div id="left">
	<%= render :partial => '/sessions/session_bar'%>	
</div><!--end left-->

<div id="center">
	<% case @listings_type.to_sym 
	 when :user %>
		<h2> Your Listings <%= link_to "back to books", books_url %></h2>
		<%= render :partial => 'user_listings', :locals => { :listings => @listings }%>
	<% when :book %>
		<%= render :partial => 'book_listings', :locals => { :listings => @listings }%>
	<% when :all %>
	<% else %>
		<%= render :partial => 'all_listings', :locals => { :listings => @listings }%>
	<% end %>
</div><!--end center-->