<%= form.error_messages %>
	<p>
	  <%= form.label :email, "Your Email" %>
	  <%= form.text_field :email , :class => 'session'%>
	</p>

	<p>
	  <%= form.label :name, "Your Name" %>
	  <%= form.text_field :name %>
	</p>

	<p>
	  <%= form.label :password %>
	  <%= form.password_field :password %>
	</p>

	<p>
	  <%= form.label :password_confirmation, "Confirm password" %>
	  <%= form.password_field :password_confirmation %>
	</p>