<div id="tag_list">
	<h4>
		Tags<%= link_to image_tag("/images/icons/edit_button.png"), edit_book_path(book), :style => 'float:right;'%>
	</h4>
	<ul>
	<% book.discipline_list.each do |tag| %>
		<li><%= link_to tag, books_url( :q => 'discipline', :q_selection => tag )%></li>
	<% end %>
	</ul>
	<ul>
	<% book.course_number_list.each do |tag| %>
		<li><%= link_to tag, books_url( :q => 'course_number', :q_selection => tag )%></li>
	<% end %>
	</ul>
	<ul>
	<% book.course_title_list.each do |tag| %>
		<li><%= link_to tag, books_url( :q => 'course_title', :q_selection => tag )%></li>
	<% end %>
	</ul>
	<ul>
	<% book.instructor_list.each do |tag| %>
		<li><%= link_to tag, books_url( :q => 'instructor', :q_selection => tag )%></li>
	<% end %>
	</ul>
</div><!--end tag_list-->
