<div id="left">
	<%= render :partial => '/sessions/session_bar'%>
</div><!--end left-->

<div id="center">
	<% @books_hash.each do |tag,books| %>
			<%= tag %>
			<% books.each do |book|%>
				<div class="book">
					<%= link_to image_tag( "#{ book.img_url }", :size => '100x100' ), book ,:class => 'book_cover'%>						
					<table>
						<tbdoy>

						  <tr>
						    <td><strong><%= link_to book.title, book %></strong></td>
							</tr>

						  <tr>
								<td><a class='price_tag'><%="$" + "%.2f" % book.average_price %></a></td>
							</tr>

							<tr>
						    <td><%= book.edition %></td>
						  </tr>

							<tr>
						    <td><%="ISBN: " + book.isbn %></td>
						  </tr>

							<tr>
						    <td><%= pluralize book.active_listings.count, "listing" %></td>
						  </tr>
						</tbody>
					</table>
				</div><!--end book-->
			<% end %>
		<% end %>
	<p> 
		Have a book that is not on the list? <br />
		<%= link_to "add it to the list", new_book_path %>
	</p>
</div><!--end center-->