<div id="left">
	<%= render :partial => '/sessions/session_bar'%>
	<h2>Can't find your book?</h2>
	<p>
	<%= link_to "#{ image_tag'new_book_button.png'}", new_book_path %>
	</p>
	<h2>Categories</h2>
	<ul>
		<li><%= link_to "All Categories", books_url %></li>
	<% Book.discipline_counts.sort {|a,b| a.name  <=> b.name }.each do |discipline|%>
		<li><%= link_to discipline, books_url( :q => 'discipline', :q_selection => discipline.name ) %></li>
	<% end %>
	<ul>
</div><!--end left-->

<div id="center">
	<h2>Awesome Deals<br /></h2>
	<% @books_hash.each do |tag,books| %>
			<div>
				<h3><%= tag %></h3>
			</div><!--end -->
			<% books.each do |book|%>
				<div class="book">
					<%= link_to image_tag( "#{ book.img_url }", :size => '100x100' ), book ,:class => 'book_cover'%>						
					<table>
						<tbody>
						  <tr>
						    <td><strong><%= shorten link_to( book.title, book), 60 %></strong></td>
							</tr>

						  <tr>
								<td><a class='price_tag'><%=dollar_sign book.average_price %></a></td>
							</tr>

							<tr>
						    <td><%= n_a_ify book.edition %></td>
						  </tr>

							<tr>
						    <td><%= book.isbn %></td>
						  </tr>

							<tr>
						    <td><%= pluralize book.active_listings.count, "listing" %></td>
						  </tr>
						</tbody>
					</table>

				</div><!--end book-->
			<% end %>
		<% end %>
	<p> 
		Have a book that is not on the list? <br />
		<%= link_to "add it to the list", new_book_path %>
	</p>
</div><!--end center-->
