<div id="center">
	<h1>{ Leave your textbook behind }</h1>
	<table id='books_index_table' class='tablesorter'>
	<thead>
		<th>Title</th>
		<th>Description</th>
		<th>isbn</th>
		<th>copies for sale</th>
	</thead>
	<% @books.each do |book|%>
	<tr>
	  <td><%= link_to book.title, book %></td>
		<td><%= book.description %></td>
		<td><%= book.isbn %></td>
		<td><%= book.listings.count %></td>
	</tr>
	<% end %>
	</table>	
	<p> Have a book that is not on the list? </p>
	<%= link_to "add it to the list", new_book_path %>
</div><!--end center-->
