<div id="center">
	<h2>Add a new book</h2>
	<%= error_message_on @book, :isbn %>
	<% form_for @book , :html => {:class => 'new_book_form'} do |f| %>
		<fieldset>
		  <%= f.label :isbn, "ISBN" %>
	    <%= f.text_field :isbn, :autocomplete => 'off' %>

			<div id="suggestion"></div><!--end suggestion-->
	    <%= f.submit "add book" %> or <%= link_to "back to the books", books_url %>
		</fieldset>
	<% end %>	

<%= observe_field "book_isbn", :url => 	{ :controller => 'books', :action => 'lookup' },
													:frequency 	=> 0.25,
													:loading		=> "$('#book_isbn').addClass('loading');",
													:complete		=> "$('#book_isbn').removeClass('loading');",
													:update			=> 	:suggestion,
													:with				=>	'isbn' %>

</div><!--end center-->
