<div id="center">

	<div id="image" style='float:left'>
		<%= image_tag("#{ @book.img_url }")%>
	</div><!--end image-->

	<h2><%=  @book.title %></h2>
	<h3>
		<a style='color:orange'>*</a>
		<%= link_to "sell your copy", new_book_listing_path(@book)%>
		<br />
	</h3>
		<table>
		<tbdoy>
		  <tr>
		    <td><strong>Edition</strong></td>
		    <td><%= @book.edition %></td>
		  </tr>
		  <tr>
		    <td><strong>ISBN</strong></td>
		    <td><%= @book.isbn %></td>
		  </tr>
		  <tr>
		    <td><strong>Amazon List Price</strong></td>
		    <td><%= @book.list_price %></td>
		  </tr>
		</tbody>
		</table>
		<br />
		<br />
		<br />
	<% if @book.listings.count != 0 %>
		People selling this book:	
		<%= render :partial => 'listings/book_listings', :locals => { :book => @book } %>
	<% end %>
</div><!--end center-->
