<div id="center">

	<div id="image" style='float:right'>
		<%= image_tag("#{ @book.img_url }")%>
	</div><!--end image-->
	<%= render :partial => 'book_tags', :locals => { :book => @book }%>

	<h1><%=  @book.title %></h1>
	<h2>
		<a><%= @book.edition %> <%= "edition" if @book.edition.length > 1 %></a>
		<br />
		<a>ISBN: <%= @book.isbn %></a>  
		<br />
		<a>Amazon List Price: <%= @book.list_price %></a>
		<br />
		<a>Amazon Used Price:</a>
	</h2>

	<h3>
		<a style='color:orange'>*</a>
		<%= link_to "sell your copy", new_book_listing_path(@book)%>
		<br />
	</h3>
	<% if @book.listings.count != 0 %>
		People selling this book:	
		<%= render :partial => 'listings/book_listings', :locals => { :book => @book } %>
	<% end %>
</div><!--end center-->
