<div id="left">
	<%= render :partial => '/sessions/session_bar'%>
</div><!--end left-->


<div id="center">

	<h2>
		<%=  @book.title %>
		<br />
		<%= link_to "back to the books", books_url	%>
	</h2>

	<div id="image">
		<%= image_tag("#{ @book.img_url }")%>
	</div><!--end image-->
	
	<div id="details">
		<table>
		<tbdoy>
		  <tr>
		    <td><strong>Edition</strong></td>
		    <td><%= n_a_ify @book.edition %></td>
		  </tr>
		  <tr>
		    <td><strong>ISBN</strong></td>
		    <td><%= @book.isbn %></td>
		  </tr>
		  <tr>
		    <td><strong>Amazon List Price</strong></td>
		    <td><%= @book.list_price %></td>
		  </tr>
		</tbody>
		</table>
	</div><!--end details-->
	<%= render :partial => 'book_tags', :locals => { :book => @book }%>
	<div id="listings">
		<%= link_to "#{ image_tag 'new_listing_button.png'}", new_book_listing_path(@book)%>
		<% if @book.listings.count != 0 %>
			<h3>listings</h3>
			<%= render :partial => 'listings/book_listings', :locals => { :book => @book } %>
		<% end %>			
	</div><!--end listings-->

</div><!--end center-->
