<div id="center">
	<h1><%=  @book.title %></h1>
	<h2>
		<a><%= @book.edition.to_i.ordinalize %> edition</a>
		<br />
		<a>ISBN: <%= @book.isbn %></a>  
	</h2>
	<h3>
		People selling this book:
		<br />
		<a style='color:orange'>*</a>
		<%= link_to "sell your copy", new_book_listing_path(@book)%>
	</h3>
	<%= render :partial => 'listings/book_listings', :locals => { :book => @book } %>
</div><!--end center-->
