<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>BookUp <%= controller.action_name %></title>

	<% get_css.each do |sheet| %>
		<%= stylesheet_link_tag sheet %>
	<% end %>
	<% get_js.each do |js|%>
		<%= javascript_include_tag js %>
	<% end%>
</head>

<body>
	<h1 style='color:#CCD617;text-align:center;'>
		This application is under development. Data will be <u>deleted</u> periodically. 
	</h1>
	<p style="width:300px;color:#812D0B;padding-left:13%;">
		The awesome people at Heroku.com people are working on getting this site email access. 
		Once we have email, you can create an account and begin to share text books!
		<br />
		<br />
		If you have any questions, please email me: this.ryansmith [at] gmail dot com.
	</p>
		 
	<div id="header">
		<%= link_to image_tag("bookup_logo.png"), root_url %>
		<div id="user_bar">
			<%= render :partial => '/sessions/session_bar'%>
		</div><!--end user_bar-->
	</div><!--end header-->
	<div id="info_bar">
		<%= flash[:notice]  %>
		<%= flash[:failure] %>
		<%= flash[:success] %>		
	</div><!--end info_bar-->
	<div id="container">
		<%= yield  %>		
	</div><!--end container-->
</body>
</html>
